/* ---- Estilos basicos ---------------------------------------------------- */
body {
    margin: 0;
    padding: 0;
    font: 70%/160% "verdana", sans-serif;
    background: #181a1b;
    color: #e8e6e3;
}

a {
    color:#37bbf2;
    text-decoration: none;
}

a:hover {
    color:#fff;
}
  
p {
    margin: 1em 0;
    padding: 0;
}
  
.clear {
    clear: both;
}
  
h1, h2, h3 {
    margin: 1em 0;
    padding:0;
}
  
h1 {
    font-size: 300%;
    font-family: "Kode Mono", monospace;
    font-weight: 400;
}
  
h2 {
    font-size:170%;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
}
  
h3 {
    font-size:120%;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
}

/* ---- Layout ------------------------------------------------------------- */
#contenedor, #cabecera, #contenido, #secundario {
    display: flex;
}

#contenedor {
    flex-direction: column;
}

#cabecera {
    align-items: center;
    height: 55px;
    padding: 10px 20px;
    background: #000;
}

#contenido, #contenido #principal {
    flex-grow: 1;
}

#contenido #secundario {
    flex-direction: column;
    background: #0C0D0E;
    padding: 0px 10px 0px 10px;
}

/* ---- Cabecera ----------------------------------------------------------- */
#cabecera #logo {
    margin: 0;
}

/* ---- Menú --------------------------------------------------------------- */
#menu {
    background: #2a2d2f;
    padding: 0;
}

#menu ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

#menu ul li {
    padding: 8px 11px 4px;
}

#menu ul li a {
    color: #e8e6e3;
}

#menu ul li:hover {
    background: #1a1c1d;
}

/* ---- Contenidos --------------------------------------------------------- */
#contenido .post {
    display: flex;
    min-width: 0;
    flex-direction: column;
    padding: 10px 30px;
    margin: 5px 20px;
}

#contenido .post img {
    max-width: 100%;
    width: min-content;
    margin-inline: auto;
    margin-top: 0.5em;
    border-radius: 8px;
}

#contenido .post h2 {
    padding: 15px;
    margin: 0 -20px;
    color: #fff;
    background: #0b0b0b;
}

#contenido .post h3 {
    margin: 12px 0 -4px 0;
}

#contenido .post ul {
    margin-top: -0.3em;
}

#contenido #secundario h3 {
    background: #2A2D2F;
    color: #e8e6e3;
    padding: 8px;
}

#contenido #secundario div {
    min-width: 120px;
}

#contenido #secundario ul {
    margin: 1em 0 1em 2em;
    padding-left: 8px;
    list-style: none;
}

#contenido #secundario li.seleccionado a {
    font-weight: bold;
}

#contenido #secundario #reportes li {
    cursor: pointer;
    color:#37bbf2;
}

#contenido #secundario #reportes li:hover {
    color: #fff;
}

/* ---- Movil -------------------------------------------------------------- */
@media (max-width: 535px) {
    #contenido {
        flex-direction: row;
        flex-wrap: wrap-reverse;
    }

    #contenido .post img {
        max-width: 100%;
        height: auto;
        margin-inline: auto;
    }

    #contenido #secundario {
        padding-bottom: 20px;
        gap: 8px;
        flex-direction: row;
        flex-grow: 1;
        align-items: flex-start;
        justify-content: space-around;
    }
    
    #contenido #secundario div {
        flex-grow: 1;
        min-width: 0px;
        padding-left: 0px;
    }
    
    #contenido #secundario ul {
        padding-right: 20px;
        margin: 0;
    }
    #contenido #secundario h3 {
        padding: 3px;
    }
}

/* ---- PC ----------------------------------------------------------------- */
@media (min-width: 780px) {
    #contenido #secundario div {
        min-width: 200px;
    }
}